<div class="prueba">  
	<h1> Bienvenido </h1>
	<p> Por favor introduce los siguientes datos: </p>

	{% if error_message %}
		<p><strong> Registre un usuario </strong></p>
	{% endif %}

	<form action="{% url 'login:register_usuario' %}" method="post">

		{% csrf_token %}
		<label for="correo" placeholder="ejemplo@mamarre.com"> Correo:  </label>
		<br>
		<input 
			type='email' 
			name='correo' 
			id="e_input"
			placeholder="nombre@correo.com"
		>
		<br>
		<br>
		<label for="p_input" placeholder="ejemplo@mamarre.com"> Contraseña:  </label>
		<br>
		<input 
			type='password'
			name='contrasena'
			id='p_input'
			placeholder="12345"
		>
		<br>
		<br>
		<label for="repetir_contrasena">
		Repetir contrasena <br></label>
		<input
			type='password'
			name='contrasena2'
			id='p_input'
			placeholder="12345">
		<br>
		<br>
		<input type="submit" value="Registrarse"> 
		
	</form>
</div>

